services:
  livebook:
    image: ghcr.io/livebook-dev/livebook:0.18.2
    # environment:
    #   LIVEBOOK_DATA_PATH: /data
    volumes:
      - type: bind
        source: ./livebook/data
        target: /data
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      - ibkr-client-portal-gateway
  ibkr-client-portal-gateway:
    build: ibkr-client-portal-gateway
    ports:
      - "5000:5000"