services:
  notebook:
    build: .
    depends_on:
      - temporal
      - ib-gateway

  ib-gateway:
    restart: always
    image: ghcr.io/gnzsnz/ib-gateway:latest
    environment:
      TWS_USERID: ${TWS_USERID}
      TWS_PASSWORD: ${TWS_PASSWORD}
      TRADING_MODE: ${TRADING_MODE:-paper}
      READ_ONLY_API: ${READ_ONLY_API:-}

  temporal:
    image: temporalio/temporal:latest
    container_name: temporal
    ports:
      - 7233:7233
      - 8233:8233
    volumes:
      - temporal-data:/data
    command: server start-dev --ip 0.0.0.0 --db-filename /data/temporal.db

volumes:
  temporal-data:
