services:
  frontend:
    build: .
    ports:
      - "8501:8501"
    depends_on:
      - ib-gateway

  ib-gateway:
    restart: always
    image: ghcr.io/gnzsnz/ib-gateway:latest
    environment:
      TWS_USERID: ${TWS_USERID}
      TWS_PASSWORD: ${TWS_PASSWORD}
      TRADING_MODE: ${TRADING_MODE:-paper}
      READ_ONLY_API: ${READ_ONLY_API:-}
